<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Taco Cloud</title>
        <link rel="stylesheet" th:href="*{/stylees.css}">
    </head>

    <body>
        <form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
           <h1>Order your taco creations!</h1>

            <img th:src="@{/images/TacoCloud.png}"/>

            <h3>Your tacos in this order:</h3>
            <a th:href="@{/design}" id="another">Design another taco</a><br/>
            <ul>
                <li th:each="taco : ${tacoOrder.tacos}">
                    <span th:text="${taco.name}">taco name</span> </li>
            </ul>

            <h3>Deliver my taco masterpieces to ...</h3>
            <label for="deliveryName">Name:</label>
            <input type="text" th:field="*{deliveryName}">
            <br/>

            <label for="deliveryStreet">Street address:</label>
            <input type="text" th:field="*{deliveryStreet}">
            <br/>

            <label for="deliveryCity">Delivery city:</label>
            <input type="text" th:field="*{deliveryCity}">
            <br/>

            <label for="deliveryState">Delivery state:</label>
            <input type="text" th:field="*{deliveryState}">
            <br/>

            <label for="deliveryZip">Delivery zip:</label>
            <input type="text" th:field="*{deliveryZip}">
            <br/>

            <h3>Here is how i will pay ...</h3>
            <label for="ccNumber">Credit card number:</label>
            <input type="text" th:field="*{ccNumber}">
            <span class="validationError" th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}">CC number error</span>
            <br/>

            <label for="ccExpiration">Credit card MM/YY:</label>
            <input type="text" th:field="*{ccExpiration}">
            <span class="validationError" th:if="${#fields.hasErrors('ccExpiration')}" th:errors="*{ccExpiration}">CC expiration error</span>
            <br/>

            <label for="ccCVV">CVV:</label>
            <input type="text" th:field="*{ccCVV}">
            <span class="validationError" th:if="${#fields.hasErrors('ccCVV')}" th:errors="*{ccCVV}">CC CVV error</span>
            <br/>

            <input type="submit" value="Submit Order">
        </form>
    </body>
</html>